.grid-container {
	position: relative;
	background: #fff;
}

.grid-container table {
	table-layout: fixed;
	border-collapse: collapse;
	border-spacing: 0;
	margin: 0;
	width: 0;
	max-width: none;
}

.grid-header-viewport {
	position: absolute;
	top: 0;
	right: 0;
	left: 0;
	overflow: hidden;
}

.grid-body-viewport {
	overflow: auto;
	position: absolute;
	top: 30px;
	bottom: 0;
	left: 0;
	right: 0;
	background: #efefef;
}

.grid-body-viewport-content {
	position: relative;
}

table.grid-body-content-wrapper {
	position: absolute;
}

.grid-container .grid-row {
	background: #fff;
}

.grid-container .grid-row, .grid-container .grid-column {
	box-sizing: border-box;
	overflow: hidden;
	/*display: block;*/
	white-space: nowrap;
}

.grid-body-viewport div.grid-row {
	position: absolute;
	display: block;
	clear: both;
	border-bottom: 1px solid #aaa;
}

.grid-container div.grid-column {
	display: inline-block;
	height: 100%;
}

.grid-container .grid-column {
	text-overflow: ellipsis;
	text-align: left;
}

.grid-checkbox-column {
	width: 30px;
}