body {
	margin: 0;
	padding: 0;
	background: #666;
	font-family: 'Helvetica Neue', Arial, sans-serif;
}

.container {
	margin: auto;
}

.inline .custom-grid  {

}

.fixed .custom-grid {
	position: absolute;
	top: 50px;
	bottom: 50px;
	left: 50px;
	right: 50px;
}

.inline .filters {
}

.fixed .filters {
	top: 25px;
	left: 50px;
	position: absolute;
	z-index: 500;
}

.inline {
	margin: 0 50px;
}

input.filter-text {
	height: 25px;
	padding: 5px;
	border: 1px solid #ccc;
}