.grid-container {
	position: relative;
	background: #fff;
	overflow: hidden;
	min-width: 100px;
}

.grid-container table {
	table-layout: fixed;
	border-collapse: collapse;
	border-spacing: 0;
	width: 0;
	max-width: none;
}

.grid-container .table {
	margin: 0;
	width: auto;
}

.grid-header {
	position: absolute;
	background: #eee;
	top: 0;
	right: 0;
	left: 0;
	overflow: hidden;
	border-bottom: 1px solid #ddd;
	z-index: 5;
}

.grid-header .grid-column {
	border-bottom: none;
	cursor: default;
	font-weight: bold;
}

.grid-container .grid-row,
.grid-container .grid-column {
	box-sizing: border-box;
	overflow: hidden;
	white-space: nowrap;
	display: inline-block;
	vertical-align: top;
}

.grid-container .grid-row {
	min-width: 100%;
	cursor: pointer;
	line-height: 20px;
}

.grid-container .grid-column {
	text-overflow: ellipsis;
	text-align: left;
	padding-left: 10px;
	padding-right: 10px;
}

.grid-container td.grid-column, .grid-container div.grid-row {
	border-top: 1px solid #ddd;
}

.grid-container div.grid-column {
	display: inline-block;
	height: 100%;
	padding-top: 8px;
	padding-bottom: 8px;
}

.grid-checkbox-column {
	width: 35px;
}

.grid-body {
	background: none;
	overflow: auto;
}

.grid-body-viewport-content {
	background: none;
	position: relative;
}

.grid-body-content {
	position: absolute;
}

.grid-body-content div.grid-row-even,
.grid-body-content tr.grid-row-even td.grid-column {
	background: #f9f9f9;
}

.grid-body-content div.grid-row-odd,
.grid-body-content tr.grid-row-odd td.grid-column {
	background: #fff;
}

.grid-body-content div.grid-row:first-child,
.grid-body-content tr.grid-row:first-child td {
	border-top-color: transparent;
}

.grid-body-content div.grid-row-selected,
.grid-body-content tr.grid-row-selected td.grid-column {
	background: #ffc;
}

.grid-body-content .grid-row:hover .grid-column {
	cursor: pointer;
	color: #000;
	text-decoration: underline;
}

.grid-body-content .grid-row:hover .grid-column-no-hover {
	cursor: auto;
	color: inherit;
	text-decoration: none;
}

.grid-container input {
	margin: 0;
}